<div fxLayout="row wrap">
  <div fxFlex.gt-sm="33.3">
    <mat-card>
      <mat-card-title>Line chart</mat-card-title>
      <mat-card-content>
        <mnews-chart-line></mnews-chart-line>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="33.3">
    <mat-card>
      <mat-card-title>Bar chart</mat-card-title>
      <mat-card-content>
        <mnews-chart-bar></mnews-chart-bar>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="33.3">
    <mat-card>
      <mat-card-title>Doughnut chart</mat-card-title>
      <mat-card-content>
        <mnews-chart-doughnut></mnews-chart-doughnut>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="33.3">
    <mat-card>
      <mat-card-title>Pie chart</mat-card-title>
      <mat-card-content>
        <mnews-chart-pie></mnews-chart-pie>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="33.3">
    <mat-card>
      <mat-card-title>Radar chart</mat-card-title>
      <mat-card-content>
        <mnews-chart-radar></mnews-chart-radar>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="33.3">
    <mat-card>
      <mat-card-title>Polar Area Chart</mat-card-title>
      <mat-card-content>
        <mnews-chart-polar></mnews-chart-polar>
      </mat-card-content>
    </mat-card>
  </div>
</div>
